* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  height: 100vh;
  margin: 0px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 60rem;
}

section {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  /* grid-template-rows: repeat(5, 1fr); */
  gap: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
}

nav a {
  text-decoration: none;
  color: #0566d8;
}

.talk-button {
  background-color: #0566d8;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.profile {
  background-color: white;
  padding: 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  grid-area: 1 / 1 / 3 / 4;
  display: flex;
  align-items: center;

  .info-image {
    width: 700px;

    img {
      width: 100%;
      transform: rotate(0deg);
      aspect-ratio: 1/1;
      clip-path: circle(49.2% at 50% 50%);
      transition: 0.2s ease;
      &:hover {
        transform: rotate(-20deg);
        transition: transform 0.2s ease, background 0.1s ease;
        background: linear-gradient(45deg, #5a40e5, #0db8dfd6);
        clip-path: circle(49.2% at 50% 50%);
      }
    }
  }
}

.card-first {
  grid-area: 1 / 4 / 3 / 8;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;

  .enlaces {
    display: flex;
    text-align: center;
    align-items: baseline;

    .github {
      font-weight: bold;
      font-size: clamp(10px, 50%, 70px);
      margin: 10px;
      padding: 15px 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #000;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      text-decoration: none;
      transition: all 0.2s ease;

      &:hover {
        transition: all 0.3s ease;
        background-image: linear-gradient(
          to right,
          #00d2ff 0%,
          #3a7bd5 51%,
          #00d2ff 100%
        );
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }
    }
    .linkedin {
      font-weight: bold;
      font-size: clamp(10px, 50%, 70px);
      margin: 10px;
      padding: 15px 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #000;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      transition: all 0.2s ease;

      &:hover {
        transition: all 0.3s ease;
        background-image: linear-gradient(
          to right,
          #43cea2 0%,
          #185a9d 51%,
          #43cea2 100%
        );
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }
    }

    .gmail {
      font-weight: bold;
      font-size: clamp(10px, 50%, 70px);
      margin: 10px;
      padding: 15px 15px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: #000;
      box-shadow: 0 0 20px #eee;
      border-radius: 10px;
      display: block;
      transition: all 0.2s ease;

      &:hover {
        transition: all 0.3s ease;
        background-image: linear-gradient(
          to right,
          #3a37e0 0%,
          #185a9d 51%,
          #4c43ce 100%
        );
        background-position: right center;
        color: #fff;
        text-decoration: none;
      }
    }

    svg {
      width: clamp(30px, 50%, 100px);
      aspect-ratio: 1/1;
      transition: a 0.2s ease;
    }
    .github-svg:hover {
      background-color: #4158d0;
      background-image: linear-gradient(
        43deg,
        #4158d0 0%,
        #c850c0 46%,
        #ffcc70 100%
      );
      clip-path: circle(47.5% at 50% 50%);
      transition: a 0.5s ease;
    }
    .linkedin-svg:hover {
      transition: a 0.5s ease;
      background-color: #0093e9;
      background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
      border-radius: 30px;
    }
    .gmail-svg:hover {
      transition: a 0.5s ease;
      background-color: #fbab7e;
      background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
      border-radius: 25px;
    }
  }
}

.card-second {
  grid-area: 1 / 6 / 3 / 8;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card-three {
  grid-area: 3 / 1 / 6 / 8;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  .tech {
    display: flex;
    justify-content: space-around;
  }

  svg {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/1;
  }
}
a {
  text-decoration: none;
}
.card-four {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  grid-area: 6 / 1 / 8 / 8;
}

.first-proyect {
  display: inline-block;
  border-radius: 30px 30px 10px 10px;
  background: #000;
  border: #000 solid 5px;
  margin: 10px;
  .need {
    width: 50px;
    height: 100px;
    img {
      border-radius: 25px;
      width: 200px;
      aspect-ratio: 1/1;
    }
  }
}

@container (min-width:155.2px) {
  .card-first {
    .enlaces {
      display: flex;
      text-align: center;
      align-items: baseline;
      flex-wrap: wrap;
      overflow: auto;
      height: 165px;
    }
  }
}
